@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: block;
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    width: 100vw;
    height: 10vh;
    display: flex;
    padding: 5vh;
    margin: 1vh;
    align-items: center;
}

header .logo{
    width: 15vw;
}

header .logo a{
    display: flex;
    align-items: center;
}

header .logo_name{
    color: #093580;
    margin-left: 10px;
}

header .logo a img{
    width: 25%;
}

header ul{
    width: 20vw;
    display: flex;
    justify-content: space-around;
}

header ul li a{
    color: blue;
}

header ul li:hover{
    border-bottom: 1px dashed black;
}

header .search{
    width: 50vw;
    height: 6vh;
}

header .search input{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10000px;
    padding: 1vw;
    font-size: x-large;
}

header .search .icon{
    position: absolute;
    top: 5vh;
    right: 16vw;
}

header .login{
    width: 15vw;
    text-align: center;
}

.shop{
    width: 100%;
    height: 90vh;
    padding: 7vw;
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}

.shop .list1, .shop .list2{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.shop .mid{
    align-items: center;
}

.shop .list1 li, .shop .list2 li{
    width: 30%;
}

.shop .list1 li a img, .shop .list2 li a img{
    width: 80%;
}

.shop .right, .shop .left{
    height: 90vh;
    text-align: right;
    margin: 5vw;
}

.shop .right h1, .left h1{
    align-items: center;
    margin-top: 45vh;
}